<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142167019350-80q67kl1jn7m1e6hba5l0jqe3tf68lrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142167019350-80q67kl1jn7m1e6hba5l0jqe3tf68lrn</string>
	<key>API_KEY</key>
	<string>AIzaSyAMz7DMolkmgaykka2VsvfAxJNwj1mgJjA</string>
	<key>GCM_SENDER_ID</key>
	<string>142167019350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.trackit</string>
	<key>PROJECT_ID</key>
	<string>trackit-3409f</string>
	<key>STORAGE_BUCKET</key>
	<string>trackit-3409f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142167019350:ios:87d9e38a211ba0388b90f7</string>
	<key>DATABASE_URL</key>
	<string>https://trackit-3409f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>